## Part 1

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [4]:
path = r'C:\Users\iryna\Documents\01.07.2024 Instacart Basket Analysis'

In [6]:
customers = pd.read_csv(os.path.join(path,'02 Data','Original Data', 'customers.csv'))

In [8]:
customers.head()

,user_id,First Name,Surnam,Gender,STATE,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

In [10]:
customers.shape

(206209, 10)

In [12]:
customers.describe()

             user_id            Age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [14]:
customers.dtypes

user_id          int64
First Name      object
Surnam          object
Gender          object
STATE           object
Age              int64
date_joined     object
n_dependants     int64
fam_status      object
income           int64
dtype: object

### Wrangle the data so that it follows consistent logic (rename columns with illogical names and drop columns that don’t add anything to analysis.)

In [18]:
# Renaming the columns

In [20]:
customers.rename(columns = {'First Name' : 'first_name'}, inplace = True)

In [22]:
customers.rename(columns = {'Surnam' : 'surname'}, inplace = True)

In [34]:
customers.rename(columns={
    'Gender': 'gender',
    'STATE': 'state',
    'Age': 'age',
    'n_dependants': 'number_of_dependents',
    'fam_status': 'marital_status'
}, inplace=True)

In [36]:
customers.head()

,user_id,first_name,surname,gender,state,age,date_joined,number_of_dependents,marital_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

##### I believe that all columns are necessary, so as may be needed in the analysis.

### Complete the fundamental data quality and consistency checks (check for and address missing values and duplicates, convert any mixed-type data)

In [41]:
# Checking for mixed-type data in dataframe

for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

first_name

In [43]:
# Found one column with mixed data type that need to be addressed - 'first_name'.

customers['first_name'] = customers['first_name'].astype('str')

In [47]:
# Also need to change the data type in the column 'user_id', as it is not a numerical type for counting.

customers['user_id'] = customers['user_id'].astype('str')

In [49]:
# Checking mixed-data types after changing the data type.

for col in customers.columns.tolist():
  weird = (customers[[col]].map(type) != customers[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (customers[weird]) > 0:
    print (col)

##### No mixed data type columns found.

In [53]:
customers.dtypes

user_id                 object
first_name              object
surname                 object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependents     int64
marital_status          object
income                   int64
dtype: object

In [55]:
# Checking for missing values

customers.isnull().sum()

user_id                 0
first_name              0
surname                 0
gender                  0
state                   0
age                     0
date_joined             0
number_of_dependents    0
marital_status          0
income                  0
dtype: int64

##### No missing data found.

In [58]:
# Checking for duplicates.

customers_dups = customers[customers.duplicated()]

In [60]:
customers_dups

Empty DataFrame
Columns: [user_id, first_name, surname, gender, state, age, date_joined, number_of_dependents, marital_status, income]
Index: []

##### No duplicates found.

### Combine customer data with the rest of prepared Instacart data. (Hint: Make sure the key columns are the same data type!)

In [66]:
# Importing the rest of the prepared Instacart data

ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_grouped.pkl'))

In [68]:
ords_prods.shape

(32404859, 23)

In [70]:
customers.shape

(206209, 10)

In [72]:
# Finding a common column.

In [76]:
ords_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 23 columns):
 #   Column                         Dtype
---  ------                         -----
 0   product_id                     int64
 1   product_name                   object
 2   aisle_id                       int64
 3   department_id                  int64
 4   prices                         float64
 5   order_id                       int64
 6   user_id                        int64
 7   order_number                   int64
 8   order_dow                      int64
 9   order_hour_of_day              int64
 10  days_since_prior_order         float64
 11  add_to_cart_order              int64
 12  reordered                      int64
 13  _merge                         category
 14  busiest_day                    object
 15  busiest_days                   object
 16  busiest_period_of_day          object
 17  max_order                      int64
 18  loyalty_flag                   object
 19  average_price                  float64
 20  spending_flag                  object
 21  median_days_since_prior_order  float64
 22  frequency_flag                 object
dtypes: category(1), float64(4), int64(11), object(7)
memory usage: 5.3+ GB

In [78]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206209 entries, 0 to 206208
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   user_id               206209 non-null  object
 1   first_name            206209 non-null  object
 2   surname               206209 non-null  object
 3   gender                206209 non-null  object
 4   state                 206209 non-null  object
 5   age                   206209 non-null  int64
 6   date_joined           206209 non-null  object
 7   number_of_dependents  206209 non-null  int64
 8   marital_status        206209 non-null  object
 9   income                206209 non-null  int64
dtypes: int64(3), object(7)
memory usage: 15.7+ MB

##### The common column to both Data frames is -'user_id'. As can see in both data sets, this column has a different data type, so need to change the data type od 'user_id' column in the 'ords_prods date set.

In [82]:
# Changing data type

ords_prods['user_id'] = ords_prods['user_id'].astype('str')

In [84]:
ords_prods.dtypes

product_id                          int64
product_name                       object
aisle_id                            int64
department_id                       int64
prices                            float64
order_id                            int64
user_id                            object
order_number                        int64
order_dow                           int64
order_hour_of_day                   int64
days_since_prior_order            float64
add_to_cart_order                   int64
reordered                           int64
_merge                           category
busiest_day                        object
busiest_days                       object
busiest_period_of_day              object
max_order                           int64
loyalty_flag                       object
average_price                     float64
spending_flag                      object
median_days_since_prior_order     float64
frequency_flag                     object
dtype: object

In [86]:
ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,...,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Busiest day,Busiest days,Average orders,5,New customer,7.930208,Low spender,7.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Regularly busy,Slowest days,Most orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Least busy,Slowest days,Average orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [88]:
# Drop the existing '_merge' column 

ords_prods = ords_prods.drop(columns = ['_merge'])

In [98]:
ords_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day',
       'days_since_prior_order', 'add_to_cart_order', 'reordered',
       'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'average_price', 'spending_flag',
       'median_days_since_prior_order', 'frequency_flag'],
      dtype='object')

In [101]:
# Merging dataframes using the column 'user_id' with the inner join.

custs_ords_prods_merged = ords_prods.merge (customers, on = 'user_id', indicator = True)

In [102]:
# Checking for full match

custs_ords_prods_merged ['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [105]:
custs_ords_prods_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,...,first_name,surname,gender,state,age,date_joined,number_of_dependents,marital_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Deborah,Glass,Female,Vermont,66,6/16/2018,2,married,158302,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Heather,Myers,Female,Wisconsin,40,2/9/2020,3,married,31308,both

In [107]:
custs_ords_prods_merged.shape

(32404859, 32)

In [109]:
custs_ords_prods_merged.dtypes

product_id                          int64
product_name                       object
aisle_id                            int64
department_id                       int64
prices                            float64
order_id                            int64
user_id                            object
order_number                        int64
order_dow                           int64
order_hour_of_day                   int64
days_since_prior_order            float64
add_to_cart_order                   int64
reordered                           int64
busiest_day                        object
busiest_days                       object
busiest_period_of_day              object
max_order                           int64
loyalty_flag                       object
average_price                     float64
spending_flag                      object
median_days_since_prior_order     float64
frequency_flag                     object
first_name                         object
surname                            object
gender                             object
state                              object
age                                 int64
date_joined                        object
number_of_dependents                int64
marital_status                     object
income                              int64
_merge                           category
dtype: object

In [111]:
# I think it is expedient to change the data types in columns with a prefix -'id' their name, since they are not logical numbers for mathematical operations, but are simply an indicator.

In [115]:
custs_ords_prods_merged[['product_id','aisle_id','department_id','order_id']] = custs_ords_prods_merged[['product_id','aisle_id','department_id','order_id']].astype('str')

In [116]:
custs_ords_prods_merged.dtypes

product_id                         object
product_name                       object
aisle_id                           object
department_id                      object
prices                            float64
order_id                           object
user_id                            object
order_number                        int64
order_dow                           int64
order_hour_of_day                   int64
days_since_prior_order            float64
add_to_cart_order                   int64
reordered                           int64
busiest_day                        object
busiest_days                       object
busiest_period_of_day              object
max_order                           int64
loyalty_flag                       object
average_price                     float64
spending_flag                      object
median_days_since_prior_order     float64
frequency_flag                     object
first_name                         object
surname                            object
gender                             object
state                              object
age                                 int64
date_joined                        object
number_of_dependents                int64
marital_status                     object
income                              int64
_merge                           category
dtype: object

In [119]:
# Exporting dataframe

custs_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_merged.pkl'))